<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="APP | %d{ISO8601_OFFSET_DATE_TIME_HHMM} PID:%pid UPDATE_ID:%X{update.id} [%t] %-5level %logger{36} - %msg%n" />
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="com.github.ladutsko.telegram.isbnbot" level="TRACE" />

        <Root level="INFO">
            <AppenderRef ref="Console" />
        </Root>
    </Loggers>

</Configuration>
